# Tugas 1

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 15.5 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 14.2 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [39]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://devanputrahersusanto:admin123@cluster0.jztjo.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

# Tugas 2

In [22]:
# Contoh Insert Data
employee_data = [
 {'name': 'Alice', 'department': 'Finance','age': 21, 'salary': 4500 },
 {'name': 'Budi', 'department': 'Finance','age': 25, 'salary': 4555 },
 {'name': 'Rani', 'department': 'Marketing','age': 24, 'salary': 5000 },
 {'name': 'Joko', 'department': 'Marketing','age': 26, 'salary': 5555 },
 {'name': 'Melisa', 'department': 'CEO','age': 30, 'salary': 8000 },
 {'name': 'Bedu', 'department': 'Finance','age': 18, 'salary': 1000 },
 {'name': 'Takim', 'department': 'Marketing','age': 22, 'salary': 2000 },
 {'name': 'Pentol', 'department': 'Marketing','age': 26, 'salary': 3000 },
 {'name': 'Jakam', 'department': 'CEO','age': 30, 'salary': 4000 }

]
collection.insert_many(employee_data)
print('Data inserted')

Data inserted

In [4]:
!curl ifconfig.me

34.57.158.39

In [9]:
delete_query = {'name': 'Alice'}
collection.delete_one(delete_query)
print('Employee deleted')

Employee deleted

In [11]:
# Memperbarui data karyawan
query = {'name': 'Budi'}
new_values = {'$set': {'salary': 4666}}

collection.update_one(query, new_values)
print('Employee salary update')

Employee salary update

In [23]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('67218f79612eddcefec9ad67'), 'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}
{'_id': ObjectId('67218f79612eddcefec9ad68'), 'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 150}
{'_id': ObjectId('67218f79612eddcefec9ad69'), 'name': 'Headphones', 'category': 'Electronics', 'price': 200, 'stock': 100}
{'_id': ObjectId('67218f79612eddcefec9ad6a'), 'name': 'Monitor', 'category': 'Electronics', 'price': 300, 'stock': 30}
{'_id': ObjectId('67218f79612eddcefec9ad6b'), 'name': 'Keyboard', 'category': 'Electronics', 'price': 50, 'stock': 200}
{'_id': ObjectId('67218f79612eddcefec9ad6c'), 'name': 'Mouse', 'category': 'Electronics', 'price': 25, 'stock': 250}
{'_id': ObjectId('67218f79612eddcefec9ad6d'), 'name': 'Desk Chair', 'category': 'Furniture', 'price': 150, 'stock': 60}
{'_id': ObjectId('67218f79612eddcefec9ad6e'), 'name': 'Dining Table', 'category': 'Furniture', 'price': 500, 'stock': 20}
{'_id': ObjectId('67218f79612eddcefec9ad6f'), 'name': 'Bookshelf', 'category': 'Furniture', 'price': 250, 'stock': 40}
{'_id': ObjectId('67218f79612eddcefec9ad70'), 'name': 'Blender', 'category': 'Home Appliances', 'price': 120, 'stock': 80}
{'_id': ObjectId('672195b6612eddcefec9ad71'), 'name': 'Alice', 'department': 'Finance', 'age': 21, 'salary': 4500}
{'_id': ObjectId('672195b6612eddcefec9ad72'), 'name': 'Budi', 'department': 'Finance', 'age': 25, 'salary': 4555}
{'_id': ObjectId('672195b6612eddcefec9ad73'), 'name': 'Rani', 'department': 'Marketing', 'age': 24, 'salary': 5000}
{'_id': ObjectId('672195b6612eddcefec9ad74'), 'name': 'Joko', 'department': 'Marketing', 'age': 26, 'salary': 5555}
{'_id': ObjectId('672195b6612eddcefec9ad75'), 'name': 'Melisa', 'department': 'CEO', 'age': 30, 'salary': 8000}
{'_id': ObjectId('672195b6612eddcefec9ad76'), 'name': 'Bedu', 'department': 'Finance', 'age': 18, 'salary': 1000}
{'_id': ObjectId('672195b6612eddcefec9ad77'), 'name': 'Takim', 'department': 'Marketing', 'age': 22, 'salary': 2000}
{'_id': ObjectId('672195b6612eddcefec9ad78'), 'name': 'Pentol', 'department': 'Marketing', 'age': 26, 'salary': 3000}
{'_id': ObjectId('672195b6612eddcefec9ad79'), 'name': 'Jakam', 'department': 'CEO', 'age': 30, 'salary': 4000}

# Tugas 3

In [24]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': None, 'average_salary': None}
{'_id': 'Finance', 'average_salary': 3351.6666666666665}
{'_id': 'Marketing', 'average_salary': 3888.75}
{'_id': 'CEO', 'average_salary': 6000.0}

# Tugas 4

In [14]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://devanputrahersusanto:admin123@cluster0.jztjo.mongodb.net/')
db = client['market_db']
collection = db['product']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

## 4.1

In [15]:
products_data = [
    {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50},
    {'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 150},
    {'name': 'Headphones', 'category': 'Electronics', 'price': 200, 'stock': 100},
    {'name': 'Monitor', 'category': 'Electronics', 'price': 300, 'stock': 30},
    {'name': 'Keyboard', 'category': 'Electronics', 'price': 50, 'stock': 200},
    {'name': 'Mouse', 'category': 'Electronics', 'price': 25, 'stock': 250},
    {'name': 'Desk Chair', 'category': 'Furniture', 'price': 150, 'stock': 60},
    {'name': 'Dining Table', 'category': 'Furniture', 'price': 500, 'stock': 20},
    {'name': 'Bookshelf', 'category': 'Furniture', 'price': 250, 'stock': 40},
    {'name': 'Blender', 'category': 'Home Appliances', 'price': 120, 'stock': 80}
]

# Menambahkan data produk ke dalam koleksi
collection.insert_many(products_data)
print('Products data inserted successfully.')

Products data inserted successfully.

## 4.2

In [19]:
# 1. Hitung rata-rata harga produk
average_price = collection.aggregate([
    {
        '$group': {
            '_id': None,
            'average_price': {'$avg': '$price'}
        }
    }
])

# Mendapatkan rata-rata harga
average_price_value = next(average_price)['average_price']
print(f"Average price: {average_price_value}")

# 2. Query untuk menemukan produk dengan harga di atas rata-rata
above_average_products = collection.find({'price': {'$gt': average_price_value}})

# Menampilkan produk dengan harga di atas rata-rata
print("\nProducts with price above average:")
for product in above_average_products:
    print(product)

Average price: 359.5

Products with price above average:
{'_id': ObjectId('67218f79612eddcefec9ad67'), 'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}
{'_id': ObjectId('67218f79612eddcefec9ad68'), 'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 150}
{'_id': ObjectId('67218f79612eddcefec9ad6e'), 'name': 'Dining Table', 'category': 'Furniture', 'price': 500, 'stock': 20}

## 4.3

In [20]:
pipeline = [
    {
        '$group': {
            '_id': '$category',  # Mengelompokkan berdasarkan kategori
            'total_products': {'$sum': 1}  # Menghitung jumlah produk
        }
    }
]

# Menjalankan pipeline
result = collection.aggregate(pipeline)

# Menampilkan hasil
print("Total products in each category:")
for category in result:
    print(f"Category: {category['_id']}, Total Products: {category['total_products']}")

Total products in each category:
Category: Electronics, Total Products: 6
Category: Furniture, Total Products: 3
Category: Home Appliances, Total Products: 1

# Tugas 5

## 1

In [40]:
# Menggunakan aggregation pipeline untuk mencari 5 karyawan dengan gaji tertinggi dalam setiap departemen
pipeline = [
    {
        '$sort': {'salary': -1}  # Mengurutkan karyawan berdasarkan gaji secara menurun
    },
    {
        '$group': {
            '_id': {
                'department': '$department',  # Mengelompokkan berdasarkan departemen
            },
            'top_employees': {
                '$push': {
                    'name': '$name',
                    'salary': '$salary',
                }
            }
        }
    },
    {
        '$project': {
            'department': '$_id.department',  # Menyimpan nama departemen
            'top_employees': {'$slice': ['$top_employees', 5]}  # Mengambil 5 karyawan teratas
        }
    }
]

# Menjalankan pipeline
result = collection.aggregate(pipeline)

# Menampilkan hasil
print("Top 5 employees with the highest salaries in each department:")
for department in result:
    print(f"Department: {department['department']}")
    for employee in department['top_employees']:
        print(f"  Name: {employee['name']}, Salary: {employee['salary']}")

Top 5 employees with the highest salaries in each department:
Department: CEO
  Name: Melisa, Salary: 8000
Department: Marketing
  Name: Joko, Salary: 5555
  Name: Rani, Salary: 5000
Department: Finance
  Name: Budi, Salary: 4666

## 2

In [41]:
# 1. Menemukan karyawan yang berusia di bawah 25 tahun
under_25_employees = collection.find({'age': {'$lt': 25}})

# Menampilkan karyawan yang akan dihapus
print("Karyawan yang berusia di bawah 25 tahun:")
for emp in under_25_employees:
    print(f"Name: {emp['name']}, Age: {emp['age']}")

# 2. Menghapus karyawan yang berusia di bawah 25 tahun
result = collection.delete_many({'age': {'$lt': 25}})

# 3. Konfirmasi penghapusan
print(f"\nJumlah karyawan yang dihapus: {result.deleted_count}")

Karyawan yang berusia di bawah 25 tahun:
Name: Rani, Age: 24

Jumlah karyawan yang dihapus: 1

## 3

In [42]:
# Menggunakan aggregation pipeline untuk menghitung total gaji dan rata-rata umur
pipeline = [
    {
        '$group': {
            '_id': '$department',  # Mengelompokkan berdasarkan departemen
            'total_salary': {'$sum': '$salary'},  # Menghitung total gaji
            'average_age': {'$avg': '$age'}       # Menghitung rata-rata umur
        }
    }
]

# Menjalankan pipeline
result = collection.aggregate(pipeline)

# Menampilkan hasil
print("Laporan Karyawan per Departemen:")
for department in result:
    print(f"Departemen: {department['_id']}, Total Gaji: {department['total_salary']}, Rata-rata Umur: {department['average_age']:.2f}")

Laporan Karyawan per Departemen:
Departemen: Marketing, Total Gaji: 5555, Rata-rata Umur: 26.00
Departemen: Finance, Total Gaji: 4666, Rata-rata Umur: 25.00
Departemen: CEO, Total Gaji: 8000, Rata-rata Umur: 30.00